.link{
    font-size: 10px;
    margin-left: 3px;
}

.error-message{
    margin: 5px, 0, 0, 5px;
    color: red;
}

.post{
    margin: 28px, 0, 0, 15px;
}

.style{
    margin-left: 5px;
}

.icons{
    margin-top: -40px;
    margin-left: 1200px;
}